

<h4><%= link_to @post.title, fix_url(@post.url), target:  "_blank" %></h4>
<small><span class="quiet"> By </span> <%= link_to @post.creator.username, user_path(@post.creator) %> 
   at <%= display_datetime(@post.created_at) %> </small>
<p/>
<p/>
<%= @post.description %>



<p/>

<%= link_to "Edit", edit_post_path(@post) if (@post.creator == current_user || (logged_in? and current_user.admin?)) %>
<%= link_to "Back", posts_path(@post) %>


 


<%= form_for [@post, @comment] do |f| %>
 <%= render 'shared/errors', object: @comment %>
 <div class='control-group'>
    <%= f.label :body, 'Leave a comment' %>
    <%= f.text_area :body, rows: 3, class: "span4" %>
  </div>
  
  <% if current_user # user can only comment if logged in %>
    <%= f.submit 'Create Comment', class: "btn btn-primary" %>
  <% else %>
    <%= link_to 'Login to comment', login_path, class: "btn btn-primary" %>
  <% end %> 

<% end %>

<h5>Comments:</h5>

<% @post.comments.reload.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
<% end %>